body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #FFFFFF;
}
 
img {
  border: 0px none;
}
  
div#logo, div#logo_bg, div#about, div#submenu, div#gmenu{
  display: none;
}
  
div#body{

}
  
.high{
  background-color: #FAF9FC;
}
 
h1{
  font-size: 16pt;
}
 
h2{
  font-size: 14pt;
} 

table{
  font-size: 11pt;
}

td.head{
  font-weight: bold;
}
 
span.code{
  font-style: italic;
}

span.path{
  color: #5C7920;
}
 
span.quot{ 
  color: #B0AA26; 
}
 
a.uri{
  text-decoration: none;
}
 
span.comment{
  color: #FE02FF;
}
 
span.input{
  font-weight: bold;
}
 
span.brite{
  color: #ff0000;
}

div.codetitle{
  font-weight: bold;
  font-size: 10pt;
} 
 
pre{
  font-size: 11pt;
  font-family: "Courier New", Courier, monospace;
}
 
td.header{
  font-weight: bold;
}

