<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
	<link title="new" rel="stylesheet" href="http://localhost/gentoo/main-new.css" type="text/css">
	<link REL="shortcut icon" HREF="http://www.gentoo.org/favicon.ico" TYPE="image/x-icon">
	<title>Gentoo Hilfe-System - Fehler im Boolschen Ausdruck '$&(WORDS)'</title>
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td valign="top" height="125" bgcolor="#45347b">
	<table cellspacing="0" cellpadding="0" border="0" width="193">
	<tr><td class="logobg" valign="top" align="center" height="88"><a href="/index.html"><img border="0" src="http://localhost/gentoo/gtop-s.jpg"></a></td></tr>
	<tr><td class="logobg" valign="top" align="center" height="36"><a href="/index.html"><img border="0" src="http://localhost/gentoo/gbot-s.gif"></a></td></tr>
	</table></td></tr>
</table>


<h1>Fehler in der Boolschen Suchoption von '$&(LOGICAL_WORDS)'</h1>

Boolsche Ausdrücke müssen korrekt geschrieben sein, damit das Suchsystem sie verwenden kann

Der Ausdruck, den Sie eingegeben haben ist syntaktisch falsch.

<p>
Beispiele für korrekte Ausdrücke sind: <strong>Katze and Hund</strong>, <strong>Katze
not Hund</strong>, <strong>Katze or (Hund not Nase)</strong>.<br>Bedenken Sie, daß der Operator 
<strong>not</strong> die Bedeutung von 'ohne' hat.
<blockquote><strong>
$(SYNTAXERROR)
</strong></blockquote>

<form method="get" action="$(CGI)">
	<font size="-1">
		<input type="hidden" name="config" value="$&(CONFIG)">
		<input type="hidden" name="restrict" value="$&(RESTRICT)">
		<input type="hidden" name="exclude" value="$&(EXCLUDE)">
		Treffer: $(METHOD)
		Format: $(FORMAT)
		Sortierung: $(SORT)
		<br>
		Suche verfeinern:
		<input type="text" size="30" name="words" value="$&(WORDS)">
		<input type="submit" value="Search">
	</font>
</form>

<a href="http://www.htdig.org/"><img src="/htdig/htdig.gif" border="0" alt="">ht://Dig $(VERSION)</a>

</body>
</html>

